body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #101918; }

a, a:active, a:visited a:focus, a:link {
  color: inherit; }

::selection {
  background: #a3c2bc; }

.container {
  width: 1220px;
  margin: 0 auto;
  padding: 0; }
  .container h2 {
    font-weight: 500;
    font-size: 32px; }

.big-box, .examples, .get-started, .download, .options {
  padding-top: 30px;
  padding-bottom: 30px; }

.dotted-links a, .get-started a, .download a, .options a {
  text-decoration: none;
  border-bottom: dotted 1px #777; }

.dotted-links a:hover, .get-started a:hover, .download a:hover, .options a:hover {
  border-bottom: solid 1px #777; }

h1 {
  margin: 0em;
  font-size: 42px;
  font-weight: 300;
  line-height: 50px;
  font-family: "Roboto Slab", serif; }

h2 {
  margin-top: 0.1em;
  margin-bottom: 0.4em;
  font-family: "Roboto Slab", serif;
  font-weight: 400; }

table {
  margin: 0 auto;
  border-collapse: collapse;
  font-family: "Roboto Mono", monospace;
  font-size: 14px; }
  table th, table td {
    padding: 10px; }
  table tr:nth-child(2n) {
    background: #DEECEA; }
  table tr td:nth-child(1), table tr th:nth-child(1) {
    text-align: left; }
  table tr td:last-child, table tr th:last-child {
    text-align: right; }
  table thead {
    border-radius: 5px 0; }
  table th {
    background: #548c82;
    color: #fff;
    font-size: 16px;
    font-family: "Roboto Slab", serif; }
  table th:nth-child(1) {
    border-radius: 5px 0 0 0; }
  table th:last-child {
    border-radius: 0 5px 0 0; }

#top-menu {
  list-style-type: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 0px; }
  #top-menu li {
    font-size: 20px;
    display: inline-block;
    margin-left: 25px;
    line-height: 50px;
    text-align: center; }
  #top-menu a {
    text-decoration: none; }
  #top-menu a:hover {
    font-weight: bold; }
  #top-menu .hover-fix {
    display: block;
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
    margin-bottom: -1px; }

#header {
  position: relative; }

#top-container {
  position: relative;
  width: 100%;
  background: #548c82;
  color: #F9F9F9;
  border-bottom: 1px #B8B8B8 solid;
  z-index: 2;
  padding-bottom: 20px; }
  #top-container #top-inner {
    padding-top: 10px; }
  #top-container .sub-header {
    text-align: center;
    margin: 0em;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px; }
  #top-container .barcode-container {
    margin-top: 30px;
    text-align: center; }

#under-top-container {
  position: relative;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 2px;
  background: #E4E4E4;
  z-index: 1;
  border-bottom: 1px #B8B8B8 solid;
  text-align: center; }
  #under-top-container .inner {
    display: inline-block; }

.badge {
  padding: 7px;
  background: #fff;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  border-radius: 3px;
  border-width: 1px;
  border-color: #bbb;
  border-style: solid;
  margin: 8px; }
  .badge span {
    font-weight: 500; }

pre {
  max-width: 100%; }

code {
  border-radius: 3px;
  border: #e0e0e0 1px solid;
  font-family: "Roboto Mono", monospace;
  font-size: 12px; }

.grey-section {
  border-bottom: 1px #B8B8B8 solid;
  border-top: 1px #B8B8B8 solid;
  background: #E4E4E4; }

.examples h2 {
  text-align: center;
  font-size: 32px; }

.info-box {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  color: #393939;
  background: #fff;
  border-radius: 5px;
  width: 358px;
  margin: 20px;
  margin-top: 0px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .info-box .head {
    border-bottom: 1px #ABABAB solid;
    padding: 10px;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    background: #548c82;
    color: #fff; }
  .info-box .body {
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px; }
  .info-box code {
    padding: 9px; }
  .info-box .barcode {
    display: block;
    margin: 0 auto; }

.get-started {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  width: 95%;
  margin: 0 auto; }
  .get-started div {
    vertical-align: middle;
    display: inline-block;
    width: 30%; }
  .get-started pre {
    display: inline-block; }
  .get-started code {
    padding: 0.8em;
    font-size: 14px;
    text-align: left; }
  .get-started h2 {
    font-size: 38px;
    margin-left: 0em; }

.download {
  overflow-x: auto;
  text-align: center; }

.options {
  text-align: center;
  overflow-x: auto; }

.footer {
  text-align: center;
  color: #555;
  padding: 15px; }
  .footer span {
    margin: 0 15px; }
  .footer a, .footer a:active, .footer a:visited a:focus, .footer a:link {
    text-decoration: none; }
  .footer a:hover {
    text-decoration: underline; }

@media (max-width: 1400px) {
  .get-started div {
    width: 100%; } }

@media (max-width: 1250px) {
  .container {
    width: 800px; }
  table {
    width: 100%; } }

@media (max-width: 850px) {
  .container {
    width: 95%; }
  .sub-header {
    display: none; }
  .info-box {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%; }
  h1 {
    font-size: 60px;
    line-height: 1.5em; }
  #header {
    text-align: center; }
  #top-menu {
    position: relative;
    display: inline-block;
    margin-left: 0;
    padding-left: 0; }
    #top-menu li {
      display: block;
      margin-left: 0;
      font-size: 32px;
      line-height: 64px; }
  .barcode-container {
    display: none; }
  .footer {
    padding: 0px; }
    .footer span {
      display: block;
      margin: 15px; } }

@media (max-width: 400px) {
  h1 {
    font-size: 42px; }
  #top-menu li {
    font-size: 24px;
    line-height: 42px; } }
