{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "predef": "jQuery",
  "rules": {
    "semi": ["warn", "always"],
    "no-console": "error",
    "no-control-regex": "off",
    "indent": ["warn", "tab"]
  }
}
