body{
  font-family: monospace;
}

.testbox{
  display: inline-block;
  vertical-align: top;
  margin:25px;
  text-align: center;
}

.errorbox{
  background: #d00;
  vertical-align: top;
  display: inline-block;
  margin:25px;
  padding: 25px;
  width:100px;
  text-align: center;
}
