$base-color: #578A81;
$grey-color: #E4E4E4;

body, html{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #101918;
}

a, a:active, a:visited a:focus, a:link {
  color: inherit;
}

.container{
  width: 1220px;
  margin: 0 auto;
  padding: 0;

  h2{
    font-weight: 300;
    font-size: 32px;
  }
}

h1{
  margin: 0em;
  font-size: 42px;
  font-weight: 300;
  line-height: 50px;
}

#top-menu{
  list-style-type: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 0px;

  li{
    font-size: 20px;
    display: inline-block;
    margin-left: 25px;
    line-height: 50px;
    text-align: center;
  }

  a{
    text-decoration: none;
  }

  a:hover{
    font-weight: bold;
  }

  .hover-fix{
    display: block;
    font-weight:bold;
    height:1px;
    color:transparent;
    overflow:hidden;
    visibility:hidden;
    margin-bottom:-1px;
  }
}

#header{
  position:relative;
}

#top-container{
  position: relative;
  width: 100%;
  background: $base-color;
  color: #F9F9F9;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
  z-index: 2;
  padding-bottom: 20px;

  #top-inner{
    padding-top:10px;
  }

  .sub-header{
    text-align: center;
    margin: 0em;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
  }

  .barcode-container{
    margin-top:30px;
    text-align: center;
  }
}

#under-top-container{
  position: relative;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: $grey-color;
  z-index: 1;
  border-bottom: 1px #B8B8B8 solid;
  text-align: center;

  .inner{
    display: inline-block;
  }
}

.badge{
  padding: 7px;
  background: #fff;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  border-radius: 3px;
  border-width: 1px;
  border-color: #bbb;
  border-style: solid;
  margin-right: 15px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);

  span{
    font-weight: 500;
  }
}

pre code{
  border-radius: 3px;
  border: #e0e0e0 1px solid;
}

.grey-section{
  border-bottom: 1px #B8B8B8 solid;
  border-top: 1px #B8B8B8 solid;
  background: $grey-color;
}

.examples h2{
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 0.2em;
}

.info-box{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  color: #393939;
  background: #fff;
  border-radius: 5px;
  width: 358px;
  margin: 20px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
  overflow: hidden;

  .head{
    border-bottom: 1px #ABABAB solid;
    padding: 10px;
    font-size: 20px;
    background: $base-color;
    color: #fff;
  }

  .body{
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
  }

  code{
    padding: 9px;
  }

  .barcode{
    display: block;
    margin: 0 auto;
  }
}

.get-started{
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  pre{
    display: inline-block;
  }

  code{
    padding: 0.8em;
    font-size: 18px;
  }

  a{
    text-decoration: none;
    border-bottom: dotted 1px #777;
  }
}

.download{
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;

  a{
    color: #4078c0;
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }

  table{
    display: inline-block;
    border-collapse: collapse;

    tr:nth-child(2n){
      background: #f8f8f8;
    }

    th{
      background: #eee;
    }

    th, td{
      padding: 7px;
      border: 1px solid #DDD;
    }
  }
}

.footer{
  text-align: center;
  color: #555;
  padding: 15px;

  span{
    margin: 0 15px;
  }

  a, a:active, a:visited a:focus, a:link {
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }
}


@media (max-width: 1250px) {
  .container{
    width: 800px;
  }
}

@media (max-width: 850px) {
  .container{
    width: 95%;
  }

  .info-box{
    margin-left: 2%;
    margin-right: 2%;
    width:96%;
  }

  h1{
    font-size: 4em;
    line-height: 1.5em;
  }

  #header{
    text-align: center;
  }

  #top-menu{
    position: relative;
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
    font-size: 1.5em;

    li{
      display: block;
      margin-left: 0;
    }
  }

  .barcode-container{
    display: none;
  }
}
